%tr
  %td
    .profile-image{style: "background-image:url(#{avatar_url(user)})"}
  %td
    = user.full_name
  %td
    = user.position
  %td
    = user.public_location
  %td
    = format_user_certifications(user)
  %td
    = format_user_interests(user)
