- content_for :title, "#{@breakout_session.name} | Montessori Conference Breakout Sessions"
- content_for :header_logo, 'false'

.container#breakout-session.m-t-3.simple-show-layout
  .row.title-section
    .col-md-3.hidden-sm-down
      = link_to "< Back",
        conference_path(@breakout_session.conference_slug), class: 'hidden-xs-down'
    .col-md-6
      %h1.text-center= @breakout_session.name.upcase

  %hr.m-b-3
  .row.m-t-2
    .col-sm-9
      .card.m-b-2
        .row.information
          .col-sm-6
            %div
              %small DATE:
              = format_date(@breakout_session)
            %div
              %small SESSION TIME:
              = breakout_session_time(@breakout_session)
          .col-sm-6
            %div
              %small LOCATION:
              = format_location(@breakout_session)
            .organizers
              %small HOST:
              %span
                - @breakout_session.organizers.each do |organizer|
                  = link_to directory_profile_path(organizer.id), class: 'organizer' do
                    = organizer.full_name
        - if @breakout_session.description.present?
          .row.information.m-b-1
            .col-sm-12
              = @breakout_session.description

      .help.card-block.m-b-2
        Please post questions or comments below leading up to the conference
        to help your host tailor their discussion to your interests! This
        discussion board will stay live after the conference for feedback and
        ongoing discussion.

      = render 'feed_items/comment_feed', comments: @comments,
        create_comment_url: breakout_session_send_breakout_session_comment_path(@breakout_session)

    .col-sm-3
      - if user_signed_in?
        - unless @breakout_session.opted_in_attendees.find_by(id: current_user.id)
          %section.join.m-t-2.m-b-3.text-center
            = form_tag breakout_session_join_path(@breakout_session) do
              = submit_tag 'JOIN SESSION', class: 'btn btn-cart'
      - else
        %section.join.m-t-2.m-b-3
          %h5.text-center Join Session
          %hr
          .text-xs-center= t('.sign_in_or_sign_up_html',
            sign_in: new_user_session_path, sign_up: new_user_registration_path)

      %section.right-user-list
        %h5.text-center Attendees
        %hr
        - if @breakout_session.opted_in_attendees.any?
          - @breakout_session.opted_in_attendees.each do |attendee|
            = link_to directory_profile_path(attendee.id), class: 'user-in-list' do
              .profile
                .avatar{style: "background-image:url(#{attendee.avatar.url(:thumb)})"}
                .name
                  = attendee.full_name
        - else
          %div.text-center No attendees
