- content_for :title, "#{@breakout_session.name} | Montessori Conference Breakout Sessions"
- content_for :header_logo, 'false'
- content_for :meta_tags do
  = meta_tags(title: "Breakout Session: #{@breakout_session.name}",
    image: asset_url("conferences/#{@breakout_session.conference_id}.png"),
    description: "#{@breakout_session.description || @breakout_session.name} at the #{@breakout_session.conference_name}")

.container#breakout-session.m-t-3.simple-show-layout
  .row.title-section
    .col-md-3.hidden-sm-down
      = link_to "< Back",
        conference_path(@breakout_session.conference_slug), class: 'hidden-xs-down'
    .col-md-6
      %h1.text-center= @breakout_session.name.upcase

  %hr.m-b-3
  .row.m-t-2
    .col-sm-9
      .card.m-b-2
        .row.information
          .col-sm-6
            %div
              %small DATE:
              = format_date(@breakout_session)
            %div
              %small SESSION TIME:
              = breakout_session_time(@breakout_session)
          .col-sm-6
            %div
              %small LOCATION:
              TBD
              -# = format_location(@breakout_session)
            .organizers
              %small HOST:
              %span
                - @breakout_session.organizers.each do |organizer|
                  = link_to directory_profile_path(organizer.id), class: 'organizer' do
                    = organizer.full_name
        - if @breakout_session.description.present?
          .row.information
            .col-sm-12
              %p= @breakout_session.description

      - unless @breakout_session_supplements.empty?
        %h5 Breakout Session Documents
        %ul.list-unstyled
          - @breakout_session_supplements.each do |supplement|
            %li
              = link_to supplement.document_file_name, supplement.document.url,
                target: '_blank'
              - if @breakout_session.organizers.include?(current_user)
                |
                = link_to 'Remove File',
                  breakout_session_supplement_path(supplement),
                  method: :delete, class: 'warning-link'

      - if @breakout_session.organizers.include?(current_user)
        %hr
        %h5 Presenter-only Document Upload
        %p Upload your presentation or supplemental materials here.
        .row
          .col-sm-12
            = form_for [ @breakout_session, BreakoutSessionSupplement.new ],
              class: 'form' do |f|
              = f.file_field :document
              %br
              %br
              = f.submit 'Upload Document', class: 'btn btn-cart'
        %hr
        %br

      .help.card-block.m-b-2
        Please post questions or comments below leading up to the conference
        to help your host tailor their discussion to your interests! This
        discussion board will stay live after the conference for feedback and
        ongoing discussion.

      = render 'feed_items/comment_feed', comments: @comments,
        create_comment_url: breakout_session_send_breakout_session_comment_path(@breakout_session)

    .col-sm-3
      - if user_signed_in?
        - unless @breakout_session.opted_in_attendees.find_by(id: current_user.id)
          %section.join.m-t-2.m-b-3.text-center
            = form_tag breakout_session_join_path(@breakout_session) do
              = submit_tag 'JOIN SESSION', class: 'btn btn-cart'
      - else
        %section.join.m-t-2.m-b-3
          %h5.text-center Join Session
          %hr
          .text-xs-center= t('.sign_in_or_sign_up_html',
            sign_in: new_user_session_path, sign_up: new_user_registration_path)

      %section.right-user-list
        %h5.text-center Attendees
        %hr
        - audience_size = @breakout_session.opted_in_attendees.count
        - if audience_size > 0
          - limit = 15
          - @breakout_session.opted_in_attendees.order(created_at: :desc).limit(limit).each do |attendee|
            = link_to directory_profile_path(attendee.id), class: 'user-in-list' do
              .profile
                .avatar{style: "background-image:url(#{attendee.avatar.url(:thumb)})"}
                .name
                  = attendee.full_name
          - if audience_size > limit
            .text-center
              %i And #{ audience_size - limit } more
        - else
          %div.text-center No attendees
