- content_for :title, @presentation.name
- content_for :meta_tags do
  = meta_tags(title: @presentation.name,
              description: @presentation.summary)
.container
  .row
    .col-md-4
      = topics_nav
    .col-md-8
      = breadcrumb_nav
      %h1
        = @presentation.name
      %p
        %span.glyphicon.glyphicon-time
          Updated on
          = time_tag @presentation.updated_at
      = facebook_like
      %hr/
      %ul
        = render @presentation.products
      = @presentation.description.html_safe
