.container
  .row
    .col-md-4
      = topics_nav
    .col-lg-8
      = breadcrumb_nav
      %h1
        = @presentation.name
      %p
        %span.glyphicon.glyphicon-time
          Updated on
          = time_tag @presentation.updated_at
      %hr/
      %ul
        = render @presentation.materials
      = @presentation.description.html_safe
