- content_for :title, 'My Profile'
- @active = 'profile'

.container#account
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3.m-b-3 My Directory Profile
      #profile
        .show
          = form_for (@user || current_user), html: { multipart: true } do |f|
            .m-b-3
              = render 'users/shared/error_messages'
            .row
              .col-sm-3#avatar
                %a{href: '#'}
                  .image{style: "background-image:url(#{(@user || current_user).avatar.url(:medium)})"}
                  .info change image
                .newImageName
                = f.file_field :avatar, accept: 'image/png,image/jpeg'
              .col-sm-9.p-l-3
                .row
                  .col-sm-6
                    .form-group
                      = f.label :first_name, 'First Name', class: 'form-label'
                      = f.text_field :first_name, class: 'form-control'
                  .col-sm-6
                    .form-group
                      = f.label :last_name, 'Last Name', class: 'form-label'
                      = f.text_field :last_name, class: 'form-control'
                .row
                  .col-sm-6
                    .form-group
                      = f.label :position, 'Current Position',
                        class: 'form-label'
                      = f.select :position, User::POSITIONS,
                        {include_blank: true}, class: 'form-control'
                  .col-sm-6
                    .form-group
                      = f.label :organization_name, 'Organization', class: 'form-label'
                      = f.text_field :organization_name, class: 'form-control'
                .row
                  .col-sm-4
                    .form-group
                      = f.label :address_city, 'City', class: 'form-label'
                      = f.text_field :address_city, class: 'form-control'
                  .col-sm-4
                    .form-group
                      = f.label :address_state, 'State', class: 'form-label'
                      = f.text_field :address_state, class: 'form-control'
                  .col-sm-4
                    .form-group
                      = f.label :address_country, 'Country', class: 'form-label'
                      = country_select "user", "address_country",
                        { priority_countries: ["US", "CA", "GB", "AU"],
                          selected: (@user || current_user).address_country,
                          include_blank: 'Select Country' },
                        { class: 'form-control' }
            .row
              .col-sm-12
                %hr
                .form-group
                  = f.label :bio, "Short Bio (#{User::MAX_BIO_LENGTH} characters max)",
                    class: 'form-label'
                  = f.text_area :bio, rows: 2, class: 'form-control',
                    maxlength: User::MAX_BIO_LENGTH
            .row.m-t-2
              .col-sm-6
                %section.form-group.interest
                  = f.label :interests, 'Interests', class: 'form-label'
                  .interests
                    - interests_available_to((@user || current_user)).each do |interest|
                      .checkbox
                        %label
                          = check_box_tag 'user[interests][]', interest.name,
                            has_interest?((@user || current_user), interest.name)
                          .text
                            = interest.name

                  .form-inline.custom
                    .form-group
                      = text_field_tag 'interest', nil,
                        placeholder: 'New Interest', class: 'form-control'
                    %a{class: 'btn btn-secondary'} ADD
              .col-sm-6
                %section.form-group.certification
                  = f.label :certifications, 'Trainings & Certifications',
                    class: 'form-label'
                  .certifications
                    - certifications_available_to((@user || current_user)).each do |certification|
                      .checkbox
                        %label
                          = check_box_tag 'user[certifications][]', certification.name,
                            has_certification?((@user || current_user), certification.name)
                          .text
                            = certification.name
                  .form-inline.custom
                    .form-group
                      = text_field_tag 'certification', nil,
                        placeholder: 'New Certification', class: 'form-control'
                    %a{class: 'btn btn-secondary'} ADD
            .row
              .col-sm-12
                %section.montessori-directory-appeal.m-t-3.p-a-1
                  %h5 The Montessori Directory
                  %p
                    Would you like to connect with other Montessorians around
                    the world? In an effort to bring our community closer
                    together we are hosting a global
                    = succeed '.' do
                      = link_to "Montessori Directory", directory_path,
                        target: '_blank'
                    Select the box below to add your profile to the directory!
                  .checkbox
                    %label
                      = f.check_box :opted_in_to_public_directory, {}, 'true', 'false'
                      .text
                        List my profile in The Montessori Directory

            .form-group.m-t-2
              = f.submit "Save profile", class: "btn btn-cart"
