- content_for :title, 'My Details'
- @active = 'details'

.container
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      = form_for(@user) do |f|
        = render 'users/shared/error_messages'

        = f.label :password
        = f.password_field :password, class: 'form-control'

        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation, class: 'form-control'

        = f.submit "Save changes", class: "btn btn-primary"
