- content_for :title, 'My Address'
- @active = 'profile'

.container#account
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3.m-b-3 My Profile
      #profile
        .show
          = form_for @user, html: { multipart: true } do |f|
            .row
              .col-sm-3#avatar
                - image_url = @user.avatar.exists? ? @user.avatar.url : 'avatar_missing'
                %a{href: '#'}
                  = image_tag image_url, class: 'avatar'
                  .info change image
                .newImageName
                = f.file_field :avatar
              .col-sm-9.p-l-3
                .row
                  .col-sm-6
                    .form-group
                      = f.label :first_name, 'First Name', class: 'form-label'
                      = f.text_field :first_name, class: 'form-control'
                  .col-sm-6
                    .form-group
                      = f.label :last_name, 'Last Name', class: 'form-label'
                      = f.text_field :last_name, class: 'form-control'
                .row
                  .col-sm-6
                    .form-group
                      = f.label :position, 'Position', class: 'form-label'
                      = f.select :position, User::POSITIONS,
                        {include_blank: true}, class: 'form-control'
                  .col-sm-6
                    .form-group
                      = f.label :school_name, 'School Name', class: 'form-label'
                      = f.text_field :school_name, class: 'form-control'
                .row
                  .col-sm-6
                    .form-group
                      = f.label :address_city, 'City', class: 'form-label'
                      = f.text_field :address_city, class: 'form-control'
                  .col-sm-6
                    .form-group
                      = f.label :address_country, 'Country', class: 'form-label'
                      = f.text_field :address_country, class: 'form-control'
            .row
              .col-sm-12
                %hr
                .form-group
                  = f.label :bio, 'Biography', class: 'form-label'
                  = f.text_area :bio, rows: 5, class: 'form-control'
            .row
              .col-sm-6
                .form-group
                  = f.label :interests, 'Interest', class: 'form-label'
                  - Interest.public_interests.each do |interest|
                    .checkbox
                      %label
                        = check_box_tag 'user[interests][]', interest.name,
                          have_interest?(@user, interest.name)
                        = interest.name
              .col-sm-6
                .form-group
                  = f.label :certifications, 'Trainings & Certifications',
                    class: 'form-label'
                  - Certification.public_certifications.each do |certification|
                    .checkbox
                      %label
                        = check_box_tag 'user[certifications][]', certification.name,
                          have_certification?(@user, certification.name)
                        = certification.name
            .form-group.m-t-2
              = f.submit "Save profile", class: "btn btn-primary"
