- content_for :title, 'My Details'
- @active = 'details'

.container#account
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9
      %h3 My Details
      = form_for @user do |f|
        = render 'users/shared/error_messages'
        .form-group
          = f.label :email, class: 'form-label'
          = f.email_field :email, class: 'form-control'
        .form-group
          = f.label :password, class: 'form-label'
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.label :password_confirmation, class: 'form-label'
          = f.password_field :password_confirmation, class: 'form-control'
        .form-group
          = f.submit "Save changes", class: "btn btn-primary"
