- content_for :title, 'Conference'

- if @conference
  .container#conference
    %h3.m-b-3.text-center
      = "#{@conference.name} CONGRESS"
    .row
      .col-sm-10
        %h5.m-b-1 Breakout Sessions
        %table.table.table-hover
          %thead
            %tr
              %th Name
              %th Day
              %th Time
              %th Organizers
              %th Location
          %tbody
            - @conference.breakout_sessions.each do |session|
              %tr
                %td
                  = session.name
                %td
                  = session.day ? session.day.strftime("%m/%d/%y") : 'N/A'
                %td
                  = breakout_session_time(session)
                %td
                  = format_organizers(session)
                %td
                  = format_location(session)
      .col-sm-2

