- content_for :title, "#{@conference.name} | Montessori Conferences"
- content_for :header_logo, 'false'

.container#conference.m-t-2
  .text-xs-center.m-b-2
    = image_tag 'leaf-rotated.png', alt: 'The Montessori Company Leaf',
      class: 'leaf'
  %h1.text-center.m-b-1= @conference.name.upcase
  .text-xs-center.m-b-2
    = image_tag 'leaf.png', alt: 'The Montessori Company Leaf',
      class: 'leaf'
  .row
    .col-sm-12
      %h5.m-b-1 Breakout Sessions
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Day
            %th Time
            %th Organizer
            %th Location
        %tbody
          - @conference.breakout_sessions.approved.each do |session|
            %tr{onclick: "document.location = '#{breakout_session_path(session)}'"}
              %td
                = session.name
              %td
                = format_date(session)
              %td
                = breakout_session_time(session)
              %td
                = format_organizers(session)
              %td
                = format_location(session)
  -# .row
  -#   .col-sm-4
  -#     = link_to t('breakout_sessions.actions.apply'),
  -#       new_breakout_session_path(@conference),
  -#       class: 'btn btn-primary btn-cart'
