- content_for :title, 'Directory'
- content_for :header_logo, 'false'

.container#directory.m-t-2
  = form_tag '/directory', method: 'get' do
    .text-xs-center.m-b-2
      = image_tag 'leaf-rotated.png', alt: 'The Montessori Company Leaf',
        class: 'leaf'
    %h1.text-center.directory-header.m-b-1 THE MONTESSORI DIRECTORY
    .text-xs-center.m-b-3
      = image_tag 'leaf.png', alt: 'The Montessori Company Leaf',
        class: 'leaf'
    .row.query.m-b-3
      .col-sm-3.col-md-2.hidden-xs-down
        %h5.pull-left FILTERS
      .col-xs-12.col-sm-9.col-md-10
        .row
          .col-sm-4.hidden-xs-down
            - unless user_signed_in? && current_user.opted_in_to_public_directory?
              = link_to 'Join Directory', directory_join_path, method: :post,
                class: 'btn btn-cart pull-left'
          .col-sm-8.col-lg-6.col-lg-offset-2
            .row
              .col-xs-7.col-sm-8
                = text_field_tag 'query', @search_query, class: 'form-control',
                  placeholder: 'Enter search query'
              .col-xs-5.col-sm-4
                = submit_tag "Search", class: "btn btn-cart btn-block"
        %p.small.hidden-sm-up
          For the best experience, browse The Montessori Directory on
          a larger browser or download our mobile application.
    .row
      .col-sm-3.col-md-2.search.hidden-xs-down
        %section
          %h5 Certifications
          .form-group
            - @certifications.each do |certification|
              .checkbox
                %label
                  = check_box_tag 'certifications[]', certification.name,
                    @search_certifications.include?(certification.name)
                  .text
                    = certification.name
        %section
          %h5 Interests
          .form-group
            - @interests.each do |interest|
              .checkbox
                %label
                  = check_box_tag 'interests[]', interest.name,
                    @search_interests.include?(interest.name)
                  .text
                    = interest.name
        %section
          %h5 Positions
          .form-group
            - User::POSITIONS.each do |position|
              .checkbox
                %label
                  = check_box_tag 'positions[]', position,
                    @search_positions.include?(position)
                  .text
                    = position
        %section
          %h5 Countries
          .form-group
            = country_select 'countries', nil,
              { priority_countries: ["US", "CA", "GB", "AU"],
                selected: @search_countries,
                include_blank: 'Select Country' },
              { class: 'form-control' }
        .form-group
          = submit_tag "Search", class: "btn btn-cart btn-block"
      .col-sm-9.col-md-10
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th
                %th Name
                %th Position
                %th Location
                %th Certifications
                %th Interests
            %tbody
              - @users.each do |user|
                = render 'users/profiles/profile', user: user
              - if @users.blank?
                %tr
                  %td.text-center{ colspan: 6 }= t('.no_users_found')
        .text-center
          = paginate @users


