- content_for :title, 'Directory'
- content_for :header_logo, 'false'

.container#directory.directory-profile.m-t-3
  .row
    %h1.text-center
      = link_to '< Back to Directory', directory_path, class: 'hidden-xs-down'
      = @user.full_name.upcase
    %hr
  #profile.m-t-2
    .row
      .col-sm-3#avatar
        .image{style: "background-image:url(#{@user.avatar.url(:medium)})"}
      .col-sm-9.p-l-3
        .row
          .col-sm-5
            .section
              %small POSITION
              %div
                = @user.position
                - if @user.organization_name.present?
                  %small &nbsp;AT&nbsp;
                  %span
                    = @user.organization_name
            .section
              %small LOCATION
              %div
                = @user.public_location(true)
          .col-sm-7
            .section
              %small BIOGRAPHY
              %div
                = @user.bio
        .row
          - if format_user_certifications(@user).present?
            .col-sm-5
              .section
                %small TRAININGS &amp; CERTIFICATIONS
                %div
                  = format_user_certifications(@user)
          - if format_user_interests(@user).present?
            .col-sm-7
              .section
                %small INTERESTS
                %div
                  = format_user_interests(@user)

  - if !@vendor_products.empty?
    .row.m-t-2
      .col-xs-12
        .text-xs-center.m-b-2
          = image_tag 'leaf.png', alt: 'The Montessori Company Leaf',
            class: 'leaf'
        %h3.text-xs-center.m-b-3 Products on The Marketplace
        #products-list
          = render 'products/products_list', colspan: 3,
            products: @vendor_products
  .row.m-t-2
    .text-xs-center.m-b-2
      = image_tag 'leaf.png', alt: 'The Montessori Company Leaf',
        class: 'leaf'
    .col-lg-6
      %a#messages
      %h3.text-xs-center.m-b-2 Private Messages
      %hr
      - if user_signed_in?
        - if !current_user.opted_in_to_public_directory?
          .text-xs-center= t('.must_be_in_directory_for_messages_html', path: edit_profile_user_path(current_user.id))
        - elsif @user == current_user
          %p.text-xs-center= t('.own_messages')
        - else
          - @private_messages.each do |private_message|
            .private-message{ class: ('from-me' if private_message.author == current_user) }
              = simple_format(private_message.message)
              .sent-info= message_sent_info(private_message, current_user)
          = form_for [ @user, FeedItem.new ], url: { action: 'send_message', controller: :feed_items } do |f|
            .form-group
              = f.text_area :message, class: 'form-control', rows: 3
            = f.submit 'Send Private Message', class: 'btn btn-cart pull-right'
      - else
        .text-xs-center= t('.sign_in_to_send_message_html', sign_in: new_user_session_path, sign_up: new_user_registration_path)
