.container#footer
  = link_to root_path do
    = image_tag 'submark.jpg', alt: 'The Montessori Company', class: 'submark',
      'data-pin-nopin' => 'true'
  .row.navbar
    .col-sm-12.navbar-light
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to 'Products', products_url, class: 'nav-link'
        %li.nav-item
          = link_to 'Free Materials',
            page_path('free-montessori-materials-printables'),
            class: 'nav-link'
        %li.nav-item
          = link_to "Terms &amp; Conditions".html_safe,
            page_path(:terms), class: 'nav-link'
        %li.nav-item
          = link_to 'Privacy Policy', page_path(:privacy), class: 'nav-link'
        %li.nav-item
          = mail_to 'michelle@themontessoricompany.com',
            'Contact Us', subject: 'Hi TMC!',
            class: 'nav-link'

      %ul.social-icons
        %li
          = link_to 'https://www.facebook.com/themontessoricompany/',
            target: '_blank' do
            = image_tag 'facebook_logo.jpg', alt: 'Facebook logo'
        %li
          = link_to 'https://www.instagram.com/themontessoricompany/',
            target: '_blank' do
            = image_tag 'instagram_logo.jpg', alt: 'Facebook logo'
        %li
          = link_to 'https://www.pinterest.com/themontessorico/',
            target: '_blank' do
            = image_tag 'pinterest_logo.jpg', alt: 'Facebook logo'
        %li
          = link_to 'https://twitter.com/themontessorico',
            target: '_blank' do
            = image_tag 'twitter_logo.jpg', alt: 'Twitter logo'
