- content_for :title, 'Your Cart'

.container#cart
  %h3.text-xs-center
    Your Cart
  - unless @order.line_items.empty? || user_signed_in?
    .row
      .col-sm-8.col-sm-offset-2
        .row.save-cart-warning
          .col-sm-12
            Make sure you save your cart! Please
            = link_to 'sign in', new_user_session_path
            or
            = link_to 'register', new_registration_path('user')
            to save your items for later.
  .row
    .col-sm-8.col-sm-offset-2
      #cart-contents.list-group
        - if @order.line_items.empty?
          .text-xs-center
            Your cart is empty.
        - else
          = render @order.line_items
      #checkout-container.text-xs-center
        - unless @order.line_items.empty?
          = form_tag order_path(@order), method: :patch,
            id: 'promo-code-form', class: 'form-inline' do
            .form-group
              = label_tag :code, 'Promo code', class: 'form-label'
              = text_field_tag :code, nil, class: 'form-control'
            = submit_tag 'Apply', class: 'btn btn-primary'
          .order-summary.text-xs-left
            - if @order.adjustment
              .row
                .col-xs-6
                  Subtotal
                .col-xs-6.subtotal
                  = number_to_currency(@order.item_total, precision: 2)
              .row
                .col-xs-6
                  Discount (#{@order.promotion_code.upcase})
                .col-xs-6.discount
                  = number_to_currency(@order.adjustment_total*-1, precision: 2)
              .row
                .col-xs-12.description
                  = @order.promotion_description
            .row.order-total
              .col-xs-6
                Order Total
              .col-xs-6
                = number_to_currency(@order.total, precision: 2)
          .prompt
            - if current_user
              = link_to 'Checkout', '#', id: 'checkout-button',
                class: 'btn btn-checkout'
            - else
              Please
              = link_to 'Log in', new_user_session_path
              to check out
          %hr
          .text-xs-center
            .or or
        = link_to 'Keep shopping', products_path, class: 'btn btn-secondary'

= form_for [@order, Charge.new], html: { id: 'checkout-form' } do |f|
  = hidden_field_tag 'stripeToken'
  = hidden_field_tag 'stripeEmail', current_user.try(:email)

- content_for :javascript do
  :javascript
    var handler = StripeCheckout.configure({
      key: "#{ENV.fetch('STRIPE_KEY')}",
      image: "https://s3.amazonaws.com/lockstep-public-assets/tmc/stripe-cover.png",
      locale: 'auto',
      email: $("#stripeEmail").val(),
      token: function(token) {
        $("#stripeToken").val(token.id);
        $("#stripeEmail").val(token.email);
        $("#checkout-form").submit();
      }
    });

    $('#checkout-button').on('click', function(e) {
      e.preventDefault();
      handler.open({
        name: 'Your order',
        description: 'from The Montessori Company',
        amount: #{@order.total*100}
      });

      // FB: track InitiateCheckout if tracking is enabled
      if (typeof fbq !== 'undefined') {
        fbq('track', 'InitiateCheckout', {
          content_category: 'Digital Products',
          content_type: 'product',
          content_ids: #{@order.line_items.map { |li| li.id.to_s }},
          num_items: #{@order.line_items.size},
          value: #{@order.total},
          currency: 'USD'
        });
      }
    });

