- content_for :title, 'Your Cart'

.container#cart
  %h3.text-xs-center
    Your Cart
  .row
    .col-sm-8.col-sm-offset-2
      #cart-contents.list-group
        - if @order.line_items.empty?
          .text-xs-center
            Your cart is empty :(
        - else
          = render @order.line_items
      #checkout-container.text-xs-center
        - unless @order.line_items.empty?
          .order-total.text-xs-center
            Order total:
            = number_to_currency(@order.total_price, precision: 2)
          .prompt
            - if current_user
              = link_to 'Checkout', '#', id: 'checkout-button',
                class: 'btn btn-checkout'
            - else
              Please
              = link_to 'Log in', new_user_session_path
              to check out
          %hr
          .text-xs-center
            .or or
        = link_to 'Keep shopping', products_path, class: 'btn btn-secondary'

= form_for [@order, Charge.new], html: { id: 'checkout-form' } do |f|
  = hidden_field_tag 'stripeToken'
  = hidden_field_tag 'stripeEmail'

- content_for :javascript do
  :javascript
    var handler = StripeCheckout.configure({
      key: "#{ENV.fetch('STRIPE_KEY')}",
      image: "https://s3.amazonaws.com/lockstep-public-assets/tmc/stripe-cover.png",
      locale: 'auto',
      token: function(token) {
        $("#stripeToken").val(token.id);
        $("#stripeEmail").val(token.email);
        $("#checkout-form").submit();
      }
    });

    $('#checkout-button').on('click', function(e) {
      e.preventDefault();
      handler.open({
        name: 'Your order',
        description: 'from The Montessori Company',
        amount: #{@order.total_price*100}
      });
    });

