- content_for :title, 'Thank You!'

.container
  .row
    .col-sm-12
      .leader-img-container
        = image_tag 'thank_you', alt: 'Thank you!',
          class: 'img-fluid'
      .text-xs-center
        .leader-img-explanation
          %p
            Thank you for your order! Your materials are ready.
        = link_to 'Go to my materials', user_materials_path(current_user),
          class: 'btn btn-secondary'

- content_for :tracking do
  :javascript
    if (typeof fbq !== 'undefined') {
      fbq('track', 'Purchase', {
        content_type: 'product',
        content_ids: #{@order.line_items.map { |li| li.id.to_s }},
        num_items: #{@order.line_items.size},
        order_id: #{@order.id},
        value: #{@order.total_price},
        currency: 'USD'
      });
    }

    if (typeof ga !== 'undefined') {
      #{get_transaction_js(@order)}
      #{get_items_js(@order)}
      ga('ecommerce:send');
    }
