- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    #hero
      .row
        .col-sm-4
          = link_to products_url do
            .section-tile.green#products
              .content
                .line-one Browse
                .line-two The Marketplace
          = link_to posts_url do
            .section-tile.beige#blog
              .content
                .line-one Read our
                .line-two blog
          = link_to page_path('free-montessori-materials-printables') do
            .section-tile.grey#free-materials
              .content
                .line-one Download
                .line-two free materials
        .col-sm-8.no-left-gutter
          .hero-container
            .tagline
              %p Beautiful Montessori resources,
              %p lovingly crafted & curated by an AMI Montessori guide
    .spacer
      = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#featured-products
  .container
    %h1.script featured products
    #products-list
      = render 'products/products_list', colspan: 3, products: @featured_products

.spacer
  = image_tag 'leaf.png', alt: 'The Montessori Company leaf'
%section
  .container
    %h1.script our affiliates
    .row
      .col-sm-6
        .row
          .col-sm-6.col-sm-offset-3
            = link_to 'http://www.themontessorinotebook.com/setting-home-montessori-style-0916/?ref=10', target: '_blank' do
              = image_tag 'montessori_notebook.jpg', class: 'img-fluid'
      .col-sm-6
        %h3
          The Montessori Notebook
        %p
          We are excited to announce our collaboration with Simone
          Davies of The Montessori Notebook! We absolutely love her website,
          videos and e-courses and we know you will too.
          Her latest course is
          = link_to 'Setting Up Your Home Montessori-Style',
            'http://www.themontessorinotebook.com/setting-home-montessori-style-0916/?ref=10',
            target: '_blank'
          and starts Monday, September 26th. Please join us in supporting
          her amazing work!


.spacer
  = image_tag 'leaf.png', alt: 'The Montessori Company leaf'
%section
  .container
    %h1.script news bulletin
    .row
      .col-sm-6
        = link_to 'http://www.montessoricongress2017.org/', target: '_blank' do
          = image_tag 'congress-logo-gradient.jpg', class: 'img-fluid'
      .col-sm-6
        %p
          Join us at the 2017 International Montessori Congress
          next July in Prague! If you haven't been to a Montessori conference
          before you'll absolutely love the workshops, panel discussions
          and inspiring presentations.
        %p
          Check out
          = link_to 'the website', "http://www.montessoricongress2017.org/", target: '_blank'
          for more information about the event and registration. You
          can also find info on
          = link_to 'Facebook', 'https://www.facebook.com/International-Montessori-Congress-Prague-27-30-July-2017-1669252943361872/', target: '_blank'
          and
          = link_to 'Twitter', 'https://twitter.com/IMC_Prague_2017', target: '_blank'
          if social media is your thing.  We hope to see you there!

.spacer
  = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#testimonials
  .container
    .row
      .col-sm-8
        %h1 praise for our products
        .testimonial
          .left-cell
            I absolutely love these materials, I finally have hand-drawn
            illustrations in my classroom!
            %p.author
              Katharina, AMI Primary and A to I Guide
          .right-cell.hidden-md-down
      .col-sm-4
        %h1 meet michelle
        = image_tag 'michelle.jpg', alt: 'Michelle', class: 'img-fluid'
        .about
          Michelle is an AMI certified primary and elementary guide. She is
          passionate about creating beautiful Montessori environments.
        = link_to 'Read More', page_url('about'), class: 'btn btn-primary'
