- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    .logo-container
      = link_to root_url do
        = image_tag 'primary-logo.png',
          alt: 'The Montessori Company', class: 'img-fluid'
    #hero
      .row
        .col-sm-4
          .section-tile.grey
            = link_to presentations_url do
              .content#presentations
                .line-one View our
                .line-two presentations
          .section-tile.green
            .content#products
              .line-one Shop our
              .line-two products
          .section-tile.beige
            = link_to posts_url do
              .content#blog
                .line-one Read our
                .line-two blog
        .col-sm-8.no-left-gutter
          .hero-container
            .tagline
              %p Beautiful Montessori resources.
              %p Lovingly crafted by an AMI Montessori guide.
    .spacer
      = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#newsletter
  .container
    .body
      %h1 Join our mailing list
      %form
        .row
          .col-sm-4
            %input{type: "text", name: "first_name", class: "form-control",
            placeholder: "First Name"}
          .col-sm-4
            %input{type: "email", name: "email", class: "form-control",
            placeholder: "Email"}
          .col-sm-4
            %input{type: "submit", value: "Submit",
            class: "btn btn-primary form-control"}

%section#featured-products
  .container
    %h1 featured products

