- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    #hero
      .row
        .col-sm-4
          = link_to products_url do
            .section-tile.green#products
              .content
                .line-one Shop our
                .line-two products
          = link_to posts_url do
            .section-tile.beige#blog
              .content
                .line-one Read our
                .line-two blog
          = link_to page_path(:about) do
            .section-tile.grey#presentations
              .content
                .line-one Learn our
                .line-two story
        .col-sm-8.no-left-gutter
          .hero-container
            .tagline
              %p Beautiful Montessori resources,
              %p lovingly crafted by an AMI Montessori guide.
    .spacer
      = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#featured-products
  .container
    %h1.script featured products
    .row
      - @featured_products.each do |product|
        .col-sm-3
          .product-tile
            = link_to product_url(product) do
              = image_tag product.primary_image.url(:medium),
                alt: product.name, class: 'img-fluid'
            = link_to product.name,
              product_url(product), class: 'name'
            .price
              = number_to_currency(product.price, precision: 2)

%section#testimonials
  .container
    .row
      .col-sm-8
        %h1 praise for our products
        .testimonial
          .left-cell
            I absolutely love these materials, I finally have hand-drawn
            illustrations in my classroom!
            %p.author
              Katharina, AMI Primary and A to I Guide
          .right-cell.hidden-md-down
      .col-sm-4
        %h1 meet michelle
        = image_tag 'michelle.jpg', alt: 'Michelle', class: 'img-fluid'
        .about
          Michelle is a certified primary and elementary AMI guide. She is
          passionate about creating truly beautiful Montessori environments.
        = link_to 'Read More', page_url('about'), class: 'btn btn-primary'
