- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    #hero
      .row
        .col-sm-4
          .section-tile.grey#presentations
            = link_to presentations_url do
              .content
                .line-one View our
                .line-two presentations
          .section-tile.green#products
            = link_to products_url do
              .content
                .line-one Shop our
                .line-two products
          .section-tile.beige#blog
            = link_to posts_url do
              .content
                .line-one Read our
                .line-two blog
        .col-sm-8.no-left-gutter
          .hero-container
            .tagline
              %p Beautiful Montessori resources.
              %p Lovingly crafted by an AMI Montessori guide.
    .spacer
      = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#newsletter
  .container
    .body
      %h1 Join our mailing list
      %form
        .row
          .col-sm-4
            %input{type: "text", name: "first_name", class: "form-control",
            placeholder: "First Name"}
          .col-sm-4
            %input{type: "email", name: "email", class: "form-control",
            placeholder: "Email"}
          .col-sm-4
            %input{type: "submit", value: "Submit",
            class: "btn btn-primary form-control"}

%section#featured-products
  .container
    %h1 featured products
    .row
      - @featured_products.each do |product|
        .col-sm-3
          .product-tile
            = link_to product_url(product) do
              = image_tag product.primary_image.url,
                alt: product.name, class: 'img-fluid'
            = link_to product.name,
              product_url(product), class: 'name'
            .price
              = number_to_currency(product.price, precision: 1)

%section#testimonials
  .container
    .row
      .col-sm-8
        %h1 praise for our products
        .testimonial
          .text
            Lorizzle da bomb dolor ma nizzle things, dawg adipiscing owned.
            Rizzle sapizzle velizzle, gangsta volutpizzle, suscipizzle quizzle,
            mofo vizzle, arcu. Pellentesque daahng dawg tortizzle.
            Sizzle erizzle.
            %p.author
              \- Author of Testimonial
          .image.hidden-md-down
      .col-sm-4
        %h1 meet michelle
        = image_tag 'blonde.jpg', alt: 'Michelle', class: 'img-fluid'
        .about
          Lorizzle da bomb dolor ma nizzle things, dawg adipiscing owned.
          Rizzle sapizzle velizzle, gangsta volutpizzle, suscipizzle quizzle.
        = link_to 'Read More', page_url('about'), class: 'btn btn-primary'
