- content_for :title, 'Home'
- content_for :meta_tags do
  = meta_tags(title: 'Home')

%section#home
  .container
    #hero
      .row
        .col-sm-4
          = link_to products_url do
            .section-tile.light-green#products
              .content
                .line-one Browse
                .line-two The Marketplace
          = link_to directory_url do
            .section-tile.beige#blog
              .content
                .line-one Connect on
                .line-two The Montessori Directory
          = link_to page_path('free-montessori-materials-printables') do
            .section-tile.grey#free-materials
              .content
                .line-one Download
                .line-two free materials
        .col-sm-8.no-left-gutter
          .hero-container
            %h1.tagline
              Beautiful Montessori resources,
              %br
              lovingly crafted &amp; curated by an AMI Montessori guide
    .spacer
      = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#subscribe
  .container
    %h1.script our newsletter
    .row
      .col-xs-12
        .newsletter-form
          %p.text-xs-center
            Stay in the know! Find out about free products and new features
            by submitting your email address below:
          = form_tag join_newsletter_path do
            .row
              .col-sm-6.col-md-6.col-md-offset-1.col-lg-5.col-lg-offset-2
                = email_field_tag :email_address, nil, class: 'form-control'
              .col-sm-6.col-md-4.col-lg-3
                = submit_tag 'Join Newsletter',
                  class: 'btn btn-secondary btn-block'

  .spacer
    = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#featured-products
  .container
    %h1.script featured Montessori products
    #products-list
      = render 'products/products_list', colspan: 3, products: @featured_products

.spacer
  = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

%section#testimonials
  .container
    .row
      .col-sm-8
        %h1 praise for our products
        .testimonial
          .left-cell
            I absolutely love these materials, I finally have hand-drawn
            illustrations in my classroom!
            %p.author
              Katharina, AMI Primary and A to I Guide
          .right-cell.hidden-md-down
      .col-sm-4
        %h1 meet michelle
        = image_tag 'michelle.jpg', alt: 'Michelle', class: 'img-fluid'
        .about
          Michelle is an AMI certified primary and elementary guide. She is
          passionate about creating beautiful Montessori environments.
        = link_to 'Read More', page_url('about'), class: 'btn btn-primary'
