- content_for :title, 'Your Order'
- @active = 'orders'

.container#cart
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9#user-order
      .navigation
        .back &lt;
        = link_to 'Back to My Orders', user_orders_path(@user)
      %h3 Order ##{@order.id}
      #cart-contents.list-group
        = render @order.line_items
      .details.text-xs-left
        .time
          Created on:
          = time_tag @order.created_at
        .price
          Order total:
          = number_to_currency(@order.total_price, precision: 2)
