- content_for :title, 'Your Order'
- @active = 'orders'

.container#cart
  .row
    .col-sm-3
      = render 'users/shared/sidebar'
    .col-sm-9#user-order
      .navigation
        .back &lt;
        = link_to 'Back to My Orders', user_orders_path(@user)
      %h3 Order ##{@order.id}
      #cart-contents.list-group
        = render @order.line_items
      .details.text-xs-left
        .row
          .col-xs-6
            Created on:
          .col-xs-6.time
            = time_tag @order.created_at
        - if @order.adjustment
          .row
            .col-xs-6
              Subtotal
            .col-xs-6.subtotal
              = number_to_currency(@order.item_total, precision: 2)
          .row
            .col-xs-6
              Discount (#{@order.promotion_code.upcase})
            .col-xs-6.discount
              = number_to_currency(@order.adjustment_total*-1, precision: 2)
        .row.order-total
          .col-xs-6
            Order Total:
          .col-xs-6
            .price
              = number_to_currency(@order.total, precision: 2)
