- content_for :title, 'Uh Oh!'
- content_for :meta_tags do
  = meta_tags(title: 'Are you lost?',
              image: asset_url('404'),
              description: "Like our Page Not Found? You\'ll love our products!")

.container
  .row
    .col-sm-12
      .leader-img-container
        = image_tag '404', alt: 'Page not found',
          class: 'img-fluid'
      .text-xs-center
        .leader-img-explanation
          %p
            The page you're looking for does not exist.
          %p
            If you're having a technical problem with our site, please
            = succeed '.' do
              = mail_to 'michelle@themontessoricompany.com', 'let us know',
                subject: 'Something is broken'
          %p
            Maybe it was a typo? In that case, have fun exploring!
        = link_to 'Keep shopping', products_path, class: 'btn btn-secondary'
