.post-preview
  %h2
    = link_to(post.title, post)
  %p
    = fa_icon 'clock-o'
    Posted on
    = post.created_at.strftime("%B %d, %Y")
  .body
    = truncate(post.stripped_body, separator: ' ', length: 300) do
      = link_to ' continue', post_url(post)
  %hr
