%article.post-preview{id: "blog-post-#{post.id}"}
  .post-head
    %h2.post-title
      = link_to(post.title, post)
    - if post.user
      .post-author
        = image_tag post.user.avatar_url(:medium), class: 'avatar'
        .name-container
          %em by
          .name= post.user.full_name
      .post-meta.hidden-sm-up
        = post.created_at.strftime("%b %d, %Y")
        »
        .category= post.category
  .post-body
    .post-image
      = link_to post_url(post) do
        = image_tag post.cover_url(:medium), class: 'img-fluid'

    = truncate(post.stripped_body, separator: ' ', length: 300)
  .post-foot
    .post-meta.hidden-xs-down
      = post.created_at.strftime("%b %d, %Y")
      »
      .category= post.category
    = link_to 'Read More', post_url(post),
      class: 'btn btn-blog'
