- content_for :title, @post.title
- content_for :meta_tags do
  = meta_tags(title: @post.title,
    description: truncate(strip_tags(@post.body),
    separator: ' ', length: 300).gsub("'", %q(\\\')))
.container.post
  %h1.script Blog
  .row
    .col-sm-8.col-sm-offset-2
      %h1
        = @post.title
      %p
        = fa_icon 'clock-o'
        Posted on
        = @post.created_at.strftime("%B %d, %Y")
      %hr/
      = @post.body.html_safe
