- content_for :title, @post.title
- content_for :meta_tags do
  = meta_tags(title: @post.title,
    description: truncate(strip_tags(@post.body),
    separator: ' ', length: 300).gsub("'", %q(\\\')))
.container.post
  %h1.script Blog
  .row
    .col-sm-8.col-sm-offset-2
      %h1
        = @post.title
      %p
        = fa_icon 'clock-o'
        Posted on
        = @post.created_at.strftime("%B %d, %Y")
      %hr/
      .body
        = @post.body.html_safe

      .spacer
        = image_tag 'leaf.png', alt: 'The Montessori Company leaf'

      #disqus_thread

:javascript
  if(typeof DISQUS === "undefined"){
    var disqus_shortname = "#{ENV.fetch('DISQUS_SHORTNAME')}";

    (function() {
      var d = document, s = d.createElement('script');
      s.src = "//" + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  } else {
    DISQUS.reset({
      reload: true,
      config: function () {
        this.page.url = "#{post_url(@post)}";
        this.page.identifier = "#{@post.id}";
      }
    });
  }

%noscript
  Please enable JavaScript to view the
  %a{href: "https://disqus.com/?ref_noscript"}
    comments powered by Disqus.
