- content_for :title, @post.title
- content_for :meta_tags do
  = meta_tags(title: @post.title,
              description: @post.summary)
.container
  .row
    .col-md-4
    .col-md-8
      %h1
        = @post.title
      %p
        = fa_icon 'clock-o'
        Posted on
        = time_tag @post.created_at
      %hr/
      = @post.body.html_safe
