.row.list
  - products.each do |product|
    .product-tile{ class: "col-md-#{colspan}" }
      = link_to product_url(product) do

        .product-image{ style: "background-image: url('#{product.primary_image.url(:medium)}')" }
      .details
        .product-name
          = link_to product.name,
            product_url(product), class: 'name'
        -if product.external_resource?
          .price
            = number_to_currency(product.price, precision: 2)
          = link_to product.list_cta_text_with_default,
            product_url(product), class: 'btn btn-cart'
        -elsif product.sold_externally?
          .price
            = number_to_currency(product.price, precision: 2)
          = link_to "Shop Now", product_url(product), class: 'btn btn-cart'
        - elsif product.free
          .free
            .price-container
              .price
                = number_to_currency(product.price, precision: 2)
              .free-label
                FREE
            .add-to-cart
              - if user_signed_in?
                = link_to 'Download', product.download_url,
                  class: 'btn btn-cart'
              - else
                .prompt
                  Please
                  = link_to 'sign in', new_user_session_path
                  or
                  = link_to 'register', new_registration_path('user')
                  to download
        - else
          .price
            = number_to_currency(product.price, precision: 2)
          .add-to-cart
            - unless is_in_cart?(@order, product)
              = add_to_cart(product)
            - else
              .in-cart
                Already in
                = succeed "." do
                  = link_to 'your cart', order_url(@order),
                    data: { turbolinks: false }
