= form_tag products_path, id: 'product-search-form', method: :get do
  .product-categories.hidden-xs-down
    = link_to products_path do
      %h1.script.intro-header The Marketplace
    - cache cache_key_for_products do
      = topics_nav(controller: :products)
    = hidden_field_tag 'topic_ids', @topic.try(:id)
    = hidden_field_tag 'previous_topic', @topic.try(:id)

  %h1.hidden-xs-down.script Looking for Something?
  .query-container
    = text_field_tag :q, @query, id: 'query', class: "form-control"
    %span.icon
      = fa_icon 'search'
  = submit_tag "Search", id: 'search-button',
    class: "btn btn-cart form-control"
  - if @topic
    %br
    %br
    %p.small
      Note: A new search will clear your category selection:
      %b #{@topic.name}
  %p.filter-label.text-xs-right.hidden-sm-up
    %span#mobile-menu-open
      = fa_icon 'filter'
      Filters
  .hidden-xs-down
    %h1.script Recently Viewed
    = render 'recently_viewed'

  = hidden_field_tag 'sort', @sort_by

#mobile-slide-menu.hidden-sm-up
  = link_to '#', id: 'mobile-menu-close', class: 'close-btn' do
    = fa_icon 'times'
  .product-categories
    %h1.script The Marketplace
    - cache cache_key_for_products do
      = topics_nav(controller: :products)
