- if @topic
  - content_for :title, @topic.name
  - if @topic.visual_exploration
    - content_for :meta_tags do
      = meta_tags(title: @topic.name,
        image: @topic.visual_exploration.image.url)
- else
  - content_for :title, 'The Marketplace'

%section#products
  .container
    .row
      .col-sm-4#sidebar
        = render 'sidebar'
      .col-sm-8#products-list
        - if @topic.try(:force_subnavigation?)
          %ul.list-unstyled.big-topic-list
            - @topic.children.each do |child_topic|
              = link_to controller: :products, topic_ids: child_topic.id do
                %li(style="background-image: url('#{child_topic.visual_exploration_image.try(:url) || image_url('hero_bg')}')")
                  .lighten-layer
                  .name= child_topic.name
        - else
          = render 'topic_description'
          = render 'visual_exploration',
            visual_exploration: @topic.try(:visual_exploration)
          = render 'sort_bar'
          = render 'products_list', colspan: 4, products: @results
          .pagination-container
            = paginate @results
