- if @topic
  - content_for :title, @topic.name
  - if @topic.visual_exploration
    - content_for :meta_tags do
      = meta_tags(title: @topic.name,
        image: @topic.visual_exploration.image.url)
- else
  - content_for :title, 'The Marketplace'

%section#products
  .container
    .row
      .col-sm-4#sidebar
        = render 'sidebar'
      .col-sm-8#products-list
        = render 'topic_description'
        = render 'visual_exploration',
          visual_exploration: @topic.try(:visual_exploration)
        = render 'sort_bar'
        = render 'products_list', colspan: 4, products: @results
        .pagination-container
          = paginate @results
