- content_for :title, @product.name
- content_for :meta_tags do
  = meta_tags(title: @product.name,
              type: 'product',
              image: object_image(@product),
              description: @product.description,
              amount: @product.price)

%section#product
  .container
    = breadcrumb_nav(product: @product)
    .row
      .col-sm-12.navigation
        .back &lt;
        = link_to 'Back to search', products_url
    .row
      .col-md-7
        = image_tag @product.primary_image.url(:medium),
          alt: @product.name, id: 'primary-image', class: 'img-fluid'
        .images-container
          - @product.images.each do |image|
            = image_tag image.image.url(:medium)
      .col-md-5
        %h1.name
          = @product.name
        %h4.price
          = "$#{@product.price}"
        .social
          = pin_it(image: object_image(@product))
          = tweet(text: @product.name)
          = facebook_like
        %h5.section-title
          Description
        .section
          = @product.description.html_safe
        - unless is_in_cart?(@order, @product)
          = add_to_cart
        - else
          This product is already in
          = succeed "." do
            = link_to 'your cart', order_url(@order),
              data: { turbolinks: false }
        %h5.section-title
          Details
        .section
          Lorizzle da bomb dolor ma nizzle things, dawg adipiscing owned.
          Rizzle sapizzle velizzle, gangsta volutpizzle, suscipizzle quizzle,
          mofo vizzle, arcu. Pellentesque daahng dawg tortizzle.
          Sizzle erizzle.

