- content_for :title, @product.name
- content_for :meta_tags do
  = meta_tags(title: @product.name,
              type: 'product',
              image: object_image(@product),
              description: @product.description,
              amount: @product.price)

%section#product
  .container
    = breadcrumb_nav(product: @product)
    .row
      .col-sm-12.navigation
        .back &lt;
        = link_to 'Back to search', 'javascript:history.back();'
    .row
      .col-sm-5
        = image_tag @product.primary_image.url(:medium),
          alt: @product.name, id: 'primary-image', class: 'img-fluid'
        .images-container
          - @product.images.each do |image|
            = image_tag image.url(:medium)
      .col-sm-7.clear
        %h1.name
          = @product.name
        %h4.price
          = "$#{@product.price}"
        .social
          = facebook_like
          = pin_it(image: object_image(@product),
                   description: @product.description)
          = tweet(text: @product.name)
        %h5.section-title
          Description
        .section
          = @product.description.html_safe
        - unless is_in_cart?(@order, @product)
          = add_to_cart
        - else
          This product is already in
          = succeed "." do
            = link_to 'your cart', order_url(@order),
              data: { turbolinks: false }

- content_for :tracking do
  :javascript
    if (typeof fbq !== 'undefined') {
      fbq('track', 'ViewContent', {
        content_name: '#{@product.name}',
        content_category: '#{@product.topic_name}',
        value: #{@product.price},
        currency: 'USD',
        referrer: document.referrer,
        userAgent: navigator.userAgent,
        language: navigator.language
      });
    }
