- content_for :title, @product.name
- content_for :meta_tags do
  = meta_tags(title: @product.name,
              type: 'product',
              image: object_image(@product),
              description: @product.description,
              amount: @product.price)

%section#product
  .container
    = breadcrumb_nav(product: @product)
    .row
      .col-sm-12.navigation
        .back &lt;
        = link_to 'Back to search', 'javascript:history.back();'
    .row
      .col-sm-5
        .row
          .col-xs-12
            #primary-image.product-image{ style: "background-image: url('#{@product.primary_image.url(:medium)}')" }
            - if @product.images.size > 1
              .row.images-container
                - @product.images.each do |image|
                  .col-xs-4
                    .product-image{ style: "background-image: url('#{image.url(:medium)}')" }
        -# Didn't want to mess with localizing the products_list products
        -# variable so @results here is the products related_products.
        - if @results.size > 0
          .row.hidden-xs-down
            .col-xs-12
              %h5.section-title.text-xs-center Related Products
              %br
              #products-list
                = render 'products_list', colspan: 6
      .col-sm-7.clear{class: @product.free ? 'free' : ''}
        %h1.name
          = @product.name
        .price-container
          %h4.price
            = number_to_currency(@product.price, precision: 2)
          - if @product.free
            .free-label
              free
        .social
          = facebook_like
          = pin_it(image: object_image(@product),
                   description: @product.description)
          = tweet(text: @product.name)
        %h5.section-title
          Description
        .section
          = @product.description.html_safe

        - if @product.sold_externally?
          .btn-toolbar
            = link_to "Recommended Vendor", @product.recommended_vendor_url,
              target: "_blank", class: 'btn btn-cart'
            - if @product.recommended_budget_vendor_url.present?
              = link_to "Budget Option", @product.recommended_budget_vendor_url,
                target: "_blank", class: 'btn btn-cart'
        - elsif @product.free
          .add-to-cart
            - if user_signed_in?
              = link_to 'Download', @product.download_url,
                class: 'btn btn-cart'
            - else
              Please
              = link_to 'sign in', new_user_session_path
              or
              = link_to 'register', new_registration_path('user')
              to download
        - else
          - if is_in_cart?(@order, @product)
            This product is already in
            = succeed "." do
              = link_to 'your cart', order_url(@order),
                data: { turbolinks: false }
          - else
            - if @shipping_cost
              Shipping: #{ number_to_currency(@shipping_cost.price_cents / 100.0) }
              %br
              %br
            - elsif @product.fulfill_via_shipment?
              = link_to 'Calculate Shipping',
                shipping_product_path(@product), class: 'btn btn-cart'
              %br
              %br
            = add_to_cart(@product, @shipping_cost.try(:price_cents))
        - if @product.sold_externally?
          %hr
          %p
            Until we can offer this product directly from The Montessori
            Company we are recommending the vendor above. If you don't have
            an AMAZING experience with their product or if our
            pricing information is no longer accurate please
            = mail_to 'michelle@themontessoricompany.com', 'let us know'
            so we can update our recommendation appropriately.
    - if @product.purpose.present? || @product.youtube_url.present? || @product.presentation_summary.present?
      .row
        .col-xs-12
          %hr
          .row
            .col-xs-12.col-md-5
              - if @product.purpose.present?
                %h5.section-title
                  Purpose
                .section
                  = @product.purpose.html_safe
              - if @product.youtube_url.present?
                %h5.section-title
                  Video Demonstration
                .section
                  .youtube-embed-container
                    %iframe{ src: @product.youtube_url,
                      frameborder: '0', allowFullScreen: true }
            .col-xs-12.col-md-7
              - if @product.presentation_summary.present?
                %h5.section-title
                  Presentation
                .section
                  = @product.presentation_summary.html_safe


- content_for :tracking do
  :javascript
    if (typeof fbq !== 'undefined') {
      fbq('track', 'ViewContent', {
        content_name: '#{@product.name}',
        content_category: '#{@product.topic_name}',
        value: #{(@product.price * Constants::VIEW_CONTENT_WEIGHT).round(2)},
        currency: 'USD',
        referrer: document.referrer,
        userAgent: navigator.userAgent,
        language: navigator.language
      });
    }
