- content_for :title, @product.name
- content_for :meta_tags do
  = meta_tags(title: @product.name)

.container
  .row
    .col-md-4
      = add_to_cart if user_signed_in?
    .col-lg-8
      %h1
        = @product.name
      %p
        %span.glyphicon.glyphicon-time
          Updated on
          = time_tag @product.updated_at
      %hr/
      = @product.description.html_safe
