.list-group-item.order-line-item.row
  .col-sm-3
    = image_tag line_item.product.primary_image.url,
      alt: line_item.product.name, class: 'cart-thumb'
  .col-sm-9
    = form_for [@order, line_item], method: :delete do |f|
      = f.button class: 'btn btn-danger pull-xs-right' do
        = fa_icon 'trash'
    = link_to product_url(line_item.product) do
      %h5.product-name
        = line_item.product.name
    %span.product-price
      = "$#{line_item.product.price}"
    %p.product-description
      = line_item.product.description
%hr.hidden-sm-up
