!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{name: "p:domain_verify", content: "3e773564bcfc7dd093e8086b28023b53"}

    = yield(:meta_tags)
    %title
      != "#{yield(:title)} | #{t(:site_name)}"
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://checkout.stripe.com/checkout.js',
      'data-turbolinks-track' => false
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400italic'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/google_analytics'
    = render 'layouts/facebook_pixel'
  %body
    #fb-root
    %header
      = render "layouts/header/navbar"
      = render "layouts/header/messages"
    %main{role: "main"}
      = yield
    %footer{role: "contentinfo"}
      = render "layouts/footer/content"
    = yield :javascript


