!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = yield(:meta_tags)
    %title
      = "#{yield(:title)} | #{t(:site_name)}"
    = favicon_link_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400italic'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render "layouts/header/navbar"
      = render "layouts/header/messages"
    %main{role: "main"}
      = yield
    %footer{role: "contentinfo"}
      = render "layouts/footer/content"


