!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "#{yield(:title)} | #{t(:site_name)}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render "layouts/header/navbar"
      = render "layouts/header/messages"
    %main{role: "main"}
      = yield
    %footer{role: "contentinfo"}
      = render "layouts/footer/content"
